<footer class="footer-distributed">
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="">Home</a>
            <a href="news">News</a>
            <a href="/#features">Features</a>    
        </p>
        <p>StockBazaar &copy; 2021</p>
    </div>
</footer>
